.page-header {
    background-color: #702FFA;
    margin-top: 20;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 32pt;
    text-decoration: underline double #ffffff;
}

.content {
    color: #000000;
    margin-left: 40px;
}

.entry {
    margin-bottom: 70px;
}

.entry h2 {
    color: #702FFA;
    font-size: 20pt;
    font-family: Merienda;
}

.entry-edit h2 {
    color: #702FFA;
    font-family: Merienda;
}

.entry-form textarea, .entry-form input {
    width: 100%;
}

.stats h3 {
    color: #702FFA;
    font-size: 18pt;
    font-family: 'Merienda', cursive;
}

h1 a, h2 a, h3 a {
    color: #702FFA;
    font-family: 'Merienda', cursive;
}

.save {
    float: right;
}

.add-new, .add-new:hover, .add-new:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.auth, .auth:hover, .auth:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    font-family: 'Merienda';
    margin-right: 20px;
}

body {
    color: #000000;
    padding-left: 20px;
    font-size: 12pt;
    font-family: 'Overlock';
}
