.page-header {
    background-color: #702FFA;
    margin-top: 20;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: underline double #ffffff;
}

.content {
    margin-left: 40px;
}

h1 a, h2 a, h3 a, h4 a {
    color: #702FFA;
    font-family: 'Merienda', cursive;
}

body {
    padding-left: 20px;
}
