{% load static %}

<html>
    <head>
        <title>Insight: A Daily Journal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/insight_journal.css' %}">
        <link href="//fonts.googleapis.com/css?family=Merienda&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Overlock&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script>
            zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
        </script>
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    </head>

    <body>
        <div class="page-header">
        <a href="{% url 'new' %}" class="add-new"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Insight: A Daily Journal</a></h1>
        <hr>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
