{% extends 'insight_journal/base.html' %}

{% block content %}
    <div class="entry">
        <a class="btn btn-default" href="{% url 'edit' pk=entry.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.text|linebreaksbr }}</p>
    </div>

    <div id="demo">
        <button type="button" onclick="getStats()">Generate Stats</button>
    </div>

    <script type="text/javascript">

        function getStats() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };

            xhttp.open("GET", "testing.html", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();
        }

    </script>

{% endblock %}
