{% extends 'insight_journal/base.html' %}

{% block content %}

    <div style="width: 150%; display: table;">
        <div style="display: table-row">
            <div style="width: 70%; height: 250px; display: inline-block;">

                <div class="entry">
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'edit' pk=entry.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'remove' pk=entry.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}


                    <h2>{{ entry.title }}</h2>
                    <p>{{ entry.text|linebreaksbr }}</p>
                </div>

                <p>Number of Words: {{num_words}}</p>

            </div>

        </div>
    </div>

    <br>
    <hr>

    <div style="width: 100%; display: table;">
        <div style="display: table-row">

            <div style="width: 50%; display: inline-block;">

                <canvas id="time-chart" width="250" height="250"></canvas>

            </div>

            <div style="width: 50%; display: inline-block;">

                <canvas id="sentiment-chart" width="250" height="250"></canvas>

            </div>
        </div>
    </div>

    <br>

    <div id="myChart"></div>




    <script>

        var str = "{{ orig_text|escapejs|lower }}";

        var myConfig = {
            type: 'wordcloud',
            options: {
                text: str,
                ignore: ["a", "as", "am", "and", "to", "from", "for", "this", "the", "of", "but", "that", "it", "it's", "is", "in", "was", "so", "because", "with", "it'd"],
            }
        };

        zingchart.render({
        	id: 'myChart',
        	data: myConfig,
        	height: 400,
        	width: '100%'
        });

    </script>


    <script>

        new Chart(document.getElementById("time-chart"), {
            type: 'pie',
            data: {
                labels: ["Past", "Present", "Future"],
                datasets: [{
                    label: "Word tense",
                    backgroundColor: ["#000000", "#00FFEE","#DEDEDE"],
                    data: [{{ tense_dist.0 }},{{tense_dist.1 }},{{ tense_dist.2 }}]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Time Orientation',
                }
            }
        });

    </script>

    <script>

        new Chart(document.getElementById("sentiment-chart"), {
            type: 'pie',
            data: {
                labels: ["Negative", "Positive"],
                datasets: [{
                    label: "Sentiment",
                    backgroundColor: ["#FF0000","#38D100"],
                    data: [{{ polar_scores.0 }},{{ polar_scores.2 }}]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Sentiment Polarity'
                }
            }
        });

    </script>

{% endblock %}
