<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>

        <p>{{ tense_dist.0 }}</p>
        <p>{{ tense_dist.1 }}</p>
        <p>{{ tense_dist.0 }}</p>

        <canvas id="pie-chart" width="400" height="225"></canvas>

        <script>
            new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: ["Past", "Present", "Future"],
                    datasets: [{
                        label: "Word tense",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                        data: [2478,5267,734]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Time Orientation'
                    }
                }
            });
        </script>

    </body>
</html>
