{% extends "insight_journal/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {% for field in form %}
            <p>
                {{ form.username.label_tag }}<br>
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}

        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <a href="{% url 'signup' %}">Need an account?</a>

    </form>

{% endblock %}
